fieldset {
    margin: auto;
    border-width: 2px;
    border-color: #060606;
    width: 80%;
    font-family: 'Bitter', serif;
}

input {
    margin: .4rem;
}

body {
    text-align: center;
    background-color: #F6FFF8;
    font-family: 'Bitter', serif;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    color: darkgreen;
}

#output {
    font-size: 18px;
}

h2 {
    margin-top: 40px;
    font-size: 20px;
}

#button {
    margin-top: 8px;
}

#container {
    margin: auto;
    margin-top: 50px;
}

img {
    margin-top: 5px;
}

/* Slider */

.rangeslider {
    width: 100%
}

.slider {
    width: 25%;
    height: 25px;
    opacity: 0.7;
}