fieldset{
    margin: auto;
    border-width: medium;
    width: 30%;
}

label {
    font-family:'Courier New', Courier, monospace;
}

input {
    margin: .4rem;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
