/* Global settings here */
html{
    scroll-behavior: smooth;
}


body {
    margin: 0px;
    background-color: #F7F7F7;
    font-family: 'Palatino', serif;
    font-size: 18px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

.regular-margin-section {
    padding-top: 200px;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    font-size: 2em;
    font-weight: 100;
}

.mobile-only {
    display: none;
}

.hidden {
    display: none;
}

/* ================================================================================ */

/* Hero Section */

#hero-section {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    color: #451F11;
    font-size: 7em;
    font-weight: 100;
    margin-right: 0px;
    width: 50%;
    text-align: right;
    margin-bottom: 0px;
    animation-name: firstAnimation;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
}

@keyframes firstAnimation{
    0% { transform: translateY(-50%); opacity: 0.1;}
    100% { transform: translateY(0%); opacity: 1};
}

#white {
    color: white;
    margin-left: 15px;
    margin-right: -10px;
    text-align: left;
    animation-name: secondAnimation;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
}

@keyframes secondAnimation{
    0% { transform: translateY(50%); opacity: 0.1;}
    100% { transform: translateY(0%); opacity: 1};
}

#hero-bean {
    width: 50%;
    height: 100%;
    background-image: url("./img/beans.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}

#main-text-wrapper {
    width: 14em;
    text-align: right;
    margin-left: 3em;
}

#coffee-price-wrapper {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.coffee-price-p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    /* display: inline-block; */
    font-size: 1.3em;
    width: 19em;
    color: #ffffff;
    margin: 0 0.25em;
    white-space: nowrap;
}

#coffee-price {
    font-size: 3em;
    width: 8em;
    text-align: right;
    color: #451F11;
    margin-bottom: -0.16em;
}

/* ================================================================================ */

/* Column Section */

.column-image {
    width: 100%;
    /*height: 150px;*/
}

.column {
    float: left;
    max-width: 33.3%;
    text-align: center;
    background-color: #ffffff;
}

.middle {
    margin-right: 25px;
    margin-left: 25px;
}

#text-wrapper {
    padding: 25px;
}

/* ================================================================================ */

/* Grid Section */

.grid-image {
    width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*grid-column-gap: 0px;
    grid-row-gap: 0px;*/
    grid-gap: 1em;
}

/* .div1 { grid-column: 1; } */

.div2 {
    grid-column: 2/4;
}

.div3 {
    grid-column: 1/3;
}

/* .div4 { grid-column: 3; } */

#grid-wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

/* ================================================================================ */

/* Contact Section */

#form-section {
    padding-top: 200px;
    display: flex;
}

#form-wrapper {
    width: 50%;
    float: right;
    margin-left: 25px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

#contact-picture {
    background-image: url("./img/coffee_talk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-position: center;
}

#contact-heading {
    color: white;
    font-weight: 100;
    font-size: 4em;
    text-align: center;
}

.inputForms {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    width: 75%;
    height: 50px;
    font-size: 1.2em;
    margin-top: 25px;
    font-weight: 100;
    box-shadow: none;
    border: none;
    padding: 0px 15px 0px;
}

.message {
    padding: 10px 15px 0px;
}

#formButton {
    background-color: #391605;
    color: white;
    font-size: 1.2em;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    font-family: inherit;
    font-weight: 100;
    transition: transform 0.5s, box-shadow 0.5s;
}

#formButton:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.error {
    color: red;
}

/* ================================================================================ */

/* Nav Section */

.nav-menu-link {
    margin-right: 3em;
}

.link {
    color: white;
    margin-left: 3em;
    margin-right: 0em;
    text-decoration: none;
}

#navbar-wrapper {
    display: flex;
    justify-content: center;
}

#social-navbar {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#navbar-navigation {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.img-link {
    height: 22px;
}

/* ================================================================================ */

/* Footer Section */

footer {
    margin-top: 200px;
    background-color: white;
}

#footer-wrapper {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-menu-link {
    margin-left: 25px;
    color: #391605;
    text-decoration: none;
}

#coffee-heading {
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 0px;
}

/* ================================================================================ */

/* To Top */
#toTopButton {
    background: none;   
    box-shadow: none;
    border: none;
    width: 75px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#toTopButton img {
    width: 100%;
}

/* ================================================================================ */

/* Responsive stuff below here */

h2 {
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    
    .coffee-price-p {
        font-family: 'Avenir', sans-serif;
        font-weight: lighter;
        display: inline-block;
        font-size: 0.9em;
        color: #ffffff;
        margin: 0 0.25em;
        white-space: nowrap;
    }
    
    #coffee-price {
        font-size: 1.5em;
        text-align: right;
        color: white;
    }


    .mobile-only {
        display: inline-block;
    }
    .regular-margin-section {
        /* padding-top: 150px; */
        padding: 10em 1em 0em;
    }
    #hero-bean {
        width: 100%;
        height: 50%;
        top: 50vh;
    }
    #mainText {
        color: white;
        text-align: center;
    }
    .hero-heading {
        font-size: 5em;
        margin-right: 0px;
        width: 80%;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 25px;
    }
    #main-text-wrapper {
        margin-left: 0em;
    }
    #white {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        margin-top: 0px;
    }
    #heading-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Column Section */
    .column-image {
        width: 100%;
        /*height: 150px;*/
    }
    .column {
        float: left;
        max-width: 30%;
        text-align: center;
        background-color: #ffffff;
    }
    .middle {
        margin-right: 20px;
        margin-left: 20px;
    }
    #text-wrapper {
        padding: 20px;
    }
    /* Grid Section */
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        /*grid-column-gap: 0px;
            grid-row-gap: 0px;*/
        grid-gap: 1em;
    }
    .div1 {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .div2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .div3 {
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .div4 {
        grid-row: 4/5;
        grid-column: 1/3;
    }
    #grid-wrapper {
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }
    #form-wrapper {
        width: 60%;
        float: right;
        margin-left: 25px;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: white;
    }
    #contact-picture {
        display: none;
    }
    #form-section {
        justify-content: flex-end;
        flex-direction: column;
        padding: 10em 1em 0em;
    }
    #contact-heading {
        color: #391605;
        text-align: right;
    }
    #footer-wrapper {
        padding: 0em 1em 0em;
    }
    .link {
        color: #391605;
    }
    .nav-menu-link {
        margin-right: 2em;
    }
    .link {
        color: #391605;
        margin-left: 2em;
        margin-right: 0em;
    }
    .img-link {
        height: 20px;
    }
}
